*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
 transition-property:transform ;
 transition-duration: 0.3s;
 transition-timing-function: ease;
 transition-delay: 0s;
}
button:hover{
  cursor: pointer;
  transform: translatey(-5px);
}
